@import url(https://fonts.googleapis.com/css?family=Quantico);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@font-face {
  font-family: 'Manifesto';
  src: url('fonts/MANIFESTO.ttf') format('truetype');
}
@font-face {
  font-family: 'Stellar';
  src: url('fonts/Stellar-Regular.otf') format('opentype');
}

body {
  font-family: Stellar, sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.header {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #80ccff 0%, #4db8ff 10%, #4db8ff 90%, #80ccff 100%);
  z-index: 10000;
}

.navbar {
  display: inline-block;
  float: right;
  padding: 40px 0;
}

.navbar a {
  margin: 0 10px;
  color: #333;
}

.navbar a:hover {
  color: #000;
}

.content {
  margin-top: 100px;
  margin-bottom: 30px;
  height: calc(100% - 10px);
}

section:before { 
  display: block; 
  content: " "; 
  margin-top: -100px; 
  height: 100px; 
  visibility: hidden; 
}

.inner-section {
  padding: 30px 0;
}

.inner-section:nth-child(2n){
  background-color: #eaeaea;
}

.marco-foto {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 200px;
  display: inline-block;
  background-image: url("http://placehold.it/200x200");
}

.marco-logo {
  height: 90px;
  width: 300px;
  display: inline-block;
  background: url("../images/Biomekatronica.png") no-repeat center center;
  background-size: cover;
}

.aliados {
  margin: 20px 0;
}

.footer {
  padding: 30px 0;
  background: linear-gradient(to right, #80ccff 0%, #4db8ff 10%, #4db8ff 90%, #80ccff 100%);
}

.ortesis-image {
  background: url("../images/Ortesis.png") no-repeat center center;
  background-size: cover;
  height: 200px;
}

.protesis-image {
  background: url("../images/Protesis.jpg") no-repeat center center;
  background-size: contain;
  height: 200px;
}

.implantes-image {
  background: url("../images/Implante.jpg") no-repeat center center;
  background-size: contain;
  height: 200px;
}

.cuencas-image {
  background: url("../images/Socket.jpg") no-repeat center center;
  background-size: contain;
  height: 200px;
}

.viviana {
  background: url("../images/Viviana.jpg") no-repeat center center;
  background-size: contain;
}

.samuel {
  background: url("../images/Samuel.jpg") no-repeat center center;
  background-size: contain;
}

.arturo {
  background: url("../images/Arturo.jpg") no-repeat center center;
  background-size: contain;
}

.randall {
  background: url("../images/Randall.jpg") no-repeat center center;
  background-size: contain;
}

.torrealba {
  background: url("../images/Torrealba.jpg") no-repeat center center;
  background-size: contain;
}

.mision-image {
  background: url("../images/Mision.jpg") no-repeat center center;
  background-size: contain;
  height: 200px;
}

.vision-image {
  background: url("../images/Vision.jpg") no-repeat center center;
  background-size: contain;
  height: 200px;
}

.usb {
  background: url("../images/USB.jpg") no-repeat center center;
  background-size: contain;
  height: 70px;
}
.pts {
  background: url("../images/PTS.jpg") no-repeat center center;
  background-size: contain;
  height: 70px;
}
.biomecanica {
  background: url("../images/BiomecanicaUSB.jpg") no-repeat center center;
  background-size: contain;
  height: 70px;
}
.biotecpro {
  background: url("../images/Biotecpro.jpg") no-repeat center center;
  background-size: contain;
  height: 70px;
}